*{
    box-sizing: border-box;
}
body , section{
    font-family: sans-serif;

}
section{
    overflow: hidden;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

